/* -----Header------ */

.header {
    position: relative;
    background-image: url(../img/PhongCanh\ \(30\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -155px;
    min-height: 560px;
}

.header__navbar {
    position: relative;
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    /* background-color: rgba(82, 82, 82, 0.158); */
    transition: all ease-in-out 0.25s;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.header__logo-icon {
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logo-text {
    color: var(--white-color);
    font-size: 2.2rem;
    font-weight: 800;
    text-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
}

.header__between {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 152px;
}

.header__between-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.header__between-list-item {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
    transition: border 2s;
    text-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
}

.header__between-list-item:nth-child(2) {
    margin: 0 18px;
}

.header__between-list-item:hover {
    cursor: pointer;
    color: rgba(241, 241, 241, 0.9);    
}

.header__between-list-item:after {
    content: "";
    position: absolute;
    background-color: currentColor;
    bottom: -2px;
    left: 50%;
    right: 50%;
    top: 21px;
    height: 1px;
    transition: right ease-out 0.3s, left ease-out 0.3s;
    -moz-transition: right ease-out 0.3s, left ease-out 0.3s; /* Firefox 4 */
    -webkit-transition: right ease-out 0.3s, left ease-out 0.3s; /* Safari and Chrome */
    -o-transition: right ease-out 0.3s, left ease-out 0.3s; /* Opera */
    -ms-transition: right ease-out 0.3s, left ease-out 0.3s; /*Explorer 10*/
}

.header__between-list-item:hover:after {
    right: 0;
    left: 0;
}


.header__user {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white-color);
    margin-right: 80px;
}

.header__host {
    font-weight: 600;
    padding: 12px;
    margin: 0;
    text-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
}

.header__host:hover {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;
}

.header__word {
    padding: 12px;
    text-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
}

.header__word:hover {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.header__user-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding: 6px 0;
    background-color: Var(--white-color);
    color: #717171;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid rgba(116, 116, 116, 0.5);
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
}

.header__user-box::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 82%;
    right: 0;
    width: 105%;
    height: 15px;
    z-index: 2;
}


.header__user-box:hover  .header__user-choice {
    display: block;
}


.header__icon-bars {
    font-size: 1.2rem;
    margin: 0 16px;
}

.header__icon-user {
    font-size: 2.5rem;
    margin-right: 8px;
    
}


.header__user-choice {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    width: 240px;
    font-weight: 300;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
    animation: headerUser linear 0.25s;
    will-change: opacity, transform;
}

@keyframes headerUser {
    from {
        opacity: 0;
        transform: translateY(-2px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header__user-choice hr {
    color: var(--text-color);
}

.header__user-choice p:first-child {
    font-weight: 500;
}

.header__user-choice p {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 18px 18px;
    margin: 0;
    color: #000;
}

.header__user-choice p:hover {
    background-color: #f7f7f7;
}

/* ---------Header Search--------- */
.header-search {
    position: relative;
    display: flex;
    width: 850px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.4);
}

.header-search__location {
    position: relative;
    background-color: #fff;
    padding: 13px 0 13px 34px;
    width: 30%;
    border-radius: 30px;
}

.header-search__location:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.header-search__location:hover .header-location-suggestions {
    display: block;
}

.header-search__location-label {
    cursor: pointer;
}

.header-search__location-input {
    border: none;
    background: none;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text-color);
}

.header-search__location-input:focus-visible {
    outline: none;
}

.header-location-suggestions {
    position: absolute;
    top: 115%;
    left: 0;
    background-color: #fff;
    border-radius: 30px;
    width: 500px;
    z-index: 1;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
    display: none;
    animation: appear 0.25s linear;
}


.header-location-suggestions::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50%;
    height: 20px;
    background-color: transparent;
}

.header-location__suggestions-text {
    display: block;
    margin: 32px 0px 20px 32px;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-location__suggestions-button {
    margin: 0 32px 32px;
    background-color: #fff;
    border: 1px solid rgb(221 221 221);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 32px;
    padding: 20px 26px;
    color: rgb(116, 1, 154);
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
}

.header-location__suggestions-button:hover {
    box-shadow: 0px 1px 15px rgb(0, 0, 0, 0.3);
}

.header-location__suggestions-button-text {
    font-size: 1.8rem;
    font-weight: 800;
    
}

.header-location__suggestions-button-icon {
    font-size: 2rem;
    font-weight: 800;
}


.header-search__time {
    position: relative;
    background-color: #fff;
    padding: 13px 0 13px 26px;
    width: 20%;
    border-radius: 30px;
}

.header-search__time:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.header-search__time-in::before {
    content: "";
    position: absolute;
    display: block;
    height: 32px;
    left: 0;    
    border-right: 1px solid #ddd;
    top: 50%;
    transform: translateY(-50%);
}

.header-search__time-out::before {
    content: "";
    position: absolute;
    display: block;
    height: 32px;
    left: 0;    
    border-left: 1px solid #ddd;
    top: 50%;
    transform: translateY(-50%);
}

.header-search__people {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 13px 0px 13px 26px;
    width: 30%;
    border-radius: 30px;
    transition: width 0.5s;
}

.header-search__people::before {
    content: "";
    position: absolute;
    display: block;
    height: 32px;
    left: 0;    
    border-right: 1px solid #ddd;
    top: 50%;
    transform: translateY(-50%);
}

.header-search__people:hover {
    background-color: #ebebeb;
    cursor: pointer;
    width: 40%;
}


.header-search__title {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    font-weight: 700;
}

.header-search__note {
    display: block;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-search__search-button {
    position: absolute;
    width: 46px;
    height: 46px;
    right: 0;
    margin-right: 6px;
    background-color: var(--primary-color);
    border-radius: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width ease-in-out 0.5s;
}

.header-search__search-button-icon {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.header-search__search-button-text {
    position: absolute;
    margin-left: 5px;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 700;
    right: 0;
    color: white;
    animation: appear ease-in 0.8s;
    transition: right linear 0.5s;
    display: none;
}

.header-search__people:hover .header-search__search-button{
    background-image: linear-gradient(90deg, rgb(255, 0, 255), rgb(255, 153, 170));
    cursor: pointer;
    width: 114px;
    border-radius: 46px;
    justify-content: start;
}

.header-search__people:hover .header-search__search-button-icon {
    margin-left: 14px;
}

.header-search__people:hover .header-search__search-button-text {
    display: block;
    
    right: 20px;
}

.header-search__people:hover .header-search__people-quantity {
    display: block;
}

.header-search__people-quantity {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: #fff;
    width: 356px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 16px 36px;
    z-index: 1;
    cursor: context-menu;
    animation: appear--people ease-out 0.8s;
    will-change: opacity, transform;
    display: none;
}

@keyframes appear--people {
    from {
        opacity: 0;
        transform: translateY(-2px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-search__people-quantity::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 280px;
    height: 20px;
    background-color: transparent;
}

.header-search__people-object {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-search__people-object--between {
    border-top: 1px solid rgb(235 235 235);
    border-bottom: 1px solid rgb(235 235 235);
}

.header-search__people-object-tittle {
    font-size: 1.8rem;
    margin-bottom: 3px;
}

.header-search__people-object-description {
    font-size: 1.4rem;
    color: rgb(113, 113, 113);
}

.header-search__people-object-maths {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.header-search__people-object-icon {
    border: 1px solid rgb(177, 177, 177);
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    
}

.header-search__people-object-icon:hover {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.header-search__people-object-icon i {
    padding-top: 8px;
    font-size: 1.2rem;
    color: rgb(68, 67, 67);
}


.header-search__people-object-icon.header-search__people-object-icon--default,
.header-search__people-object-icon--default i {
    border-color: rgb(235 235 235);
    color: rgb(235 235 235);
    cursor: not-allowed;
}

.header-search__people-object-number {
    font-size: 1.6rem;
}

.header-search__location:hover + .header-search__time-in::before,
.header-search__time-in:hover::before,
.header-search__time-in:hover + .header-search__time-out::before,
.header-search__time-out:hover::before,
.header-search__time-out:hover + .header-search__people::before,
.header-search__people:hover::before {
    display: none;
}

/* -----Header Calender----- */

.header-search__time-in:hover .header__calender--left {
    display: block;
}

.header-search__time-out:hover .header__calender--right {
    display: block;
}

.header__calender {
    background-color: #fff;
    width: 850px;
    z-index: 1;
    border-radius: 32px;
    display: none;
    cursor: context-menu;
    animation: appear ease-out 0.25s;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
}

.header__calender--left {
    position: absolute;
    top: 110%;
    left: -255px;
}

.header__calender--right {
    position: absolute;
    top: 110%;
    left: -426px;
}


.header__calender--left::before {
    content: "";
    display: block;
    position: absolute;
    width: 170px;
    height: 20px;
    top: -10px;
    left: 255px; 
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}

.header__calender--right::before {
    content: "";
    display: block;
    position: absolute;
    width: 170px;
    height: 20px;
    top: -10px;
    left: 424px;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}

.header__calender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #ddd;
    width: 190px;
    height: 36px;
    border-radius: 30px;
    padding: 0;
}

.header__calender-header-text {
    background-color: #fff;
    padding: 6px 14px;
    border-radius: 30px;
    margin-left: 4px;
}

.header__calender-header-daily {
    padding: 6px 11px;
    border-radius: 30px;
    margin-right: 4px;
}

.header__calender-header-daily:hover {
    background-color: rgb(247, 243, 243);
    cursor: pointer;
}

.header__calender-container {
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
}

.header__calender-title {
    display: flex;
    align-items: center;

}

.header__calender-title-icon {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px 13px;
    border-radius: 50%;
    cursor: pointer;
}

.header__calender-title-icon:hover {
    background-color: rgb(238, 238, 238);
}

.header__calender-text {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
}

.header__calender-month {
    padding: 18px 22.5px 18px;
}

.header__calender-day--title {
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(113 113 159);
}

.header__calender-day  {
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 50px;
    color: var(--text-color);
}

.header__calender-day--past {
    color: rgb(211 211 211);
}

.header__calender-day--future:hover {
    border: 1px solid black;
    cursor: pointer;
}

.header-search__footer {
    position: absolute;
    width: 100%;
    bottom: 200px;
    text-align: center;
}

.header__background-text {
    position: relative;
    display: block;
    margin: 0 auto 20px;
    font-size: 1.8rem;
    font-weight: 800;
    text-shadow: 0px 1px 10px rgb(255, 255, 255, 0.5);
}

.header-search__footer-link {
    text-decoration: none;
}

.header-search__footer-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #fff;
    width: 270px;
    height: 66px;
    border-radius: 35px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.4)
}


.header-search__footer-button span {
    color: transparent;
    font-size: 1.8rem;
    font-weight: 800;
    color: rgb(116, 1, 154);
    text-shadow: 0 1px 10px rgb(116, 1, 154, 0.3);
}


/* -----Header + Sticky------ */

.header.sticky .header__navbar{
    position: fixed;
    background-color: #ffffff;
    opacity: 0.99;
    z-index: 2;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    padding: 18px 0;
}

.header.sticky .header__logo-icon,
.header.sticky .header__logo-text {
    color: red;
    text-shadow: none;
}

.header.sticky .header__between-list-item,
.header.sticky .header__host, 
.header.sticky .header__word,
.header.sticky .header__user-box{
    color: #222222;
    text-shadow: none;
    box-shadow: none;
    transition: box-shadow ease-in 0.25s;
}

.header.sticky .header__host:hover, 
.header.sticky .header__word:hover {
    background-color: rgba(214, 211, 211, 0.5);
    border-radius: 30px;
    cursor: pointer;
}

.header.sticky .header__user-box:hover {
    box-shadow: 0px 1px 5px rgb(104, 104, 104, 0.5);
}

/* -----Body----- */
.container {
    background-color: #fff;
}

.container__tittle-text {
    padding: 38px 0 24px;
    font-size: 3.5rem;
}

.container__tittle-link {
    text-decoration: none;
    color: var(--text-color);
    /* border: 1px solid black; */
}

.container__tittle-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.container__tittle-area:hover img {
    transform: scale(1.05);
}

.container__tittle-img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 8px;
    
}

.container__tittle-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
    transform: scale(1);
    transition: transform ease-in 0.25s;
}


.container__tittle-expected {
    flex: 1;
    margin-left: 18px;
}

.container__tittle-location {
    font-size: 1.5rem;
    font-weight: 500;
}

.container__tittle-time-start {
    font-size: 1.4rem;
    font-weight: 300;
}


/* -----Container Body----- */
.container__body-link {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    /* border: 1px solid black; */
}

.container__body-link:hover img {
    transform: scale(1.05);
}

.container__body-condition {
    width: 100%;
    height: 285px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
}


.container__body-condition img {
    width: 100%;
    height: 285px;
    object-fit: cover;
    border-radius: 8px;
    image-rendering: pixelated;
    transition: transform ease-in-out 0.25s;
}

.container__body span {
    font-size: 1.8rem;
    font-weight: 600;
}

/* -----Container Highlight----- */

.container__highlight-link {
    text-decoration: none;
    color: white;
}

.container__highlight {
    margin: 74px 0 24px;
    border-radius: 18px;
    overflow: hidden;
    transition: transform ease-in-out 0.25s;
}

.container__highlight:hover {
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.hightlight__text {
    color: white;
    background-image: linear-gradient(90deg ,black, rgba(29, 29, 29, 0.795));
    padding: 82px 120px 72px 80px;

}

.hightlight__text-tittle {
    line-height: 35px;
    padding: 0;
}

.hightlight__text-content {
    display: block;
    font-size: 2rem;
    line-height: 25px;
    padding: 26px 0;
}

.hightlight__text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 50px;
    background-color: #fff;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 8px;
}

.hightlight__img {
    background-image: url(../img/Girl\(16\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -60px;
}

/* -----Container Footer----- */

.container__experience {
    padding-bottom: 72px;
}

.container__experience:hover img {
    transform: scale(1.01);
}
.container__experience-img {
    height: 385px;
    border-radius: 8px;
    overflow: hidden;

}

.container__experience-img img {
    width: 100%;
    height: 385px;
    object-fit: cover;
    transition: transform ease-in-out 0.25s;
}

.container__experience-tittle {
    display: block;
    margin: 12px 0 10px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;
}

.container__experience-text {
    font-size: 1.5rem;
}


/* -----Footer----- */
.footer {
    position: relative;
    background-color: #f7f7f7;
    padding-top: 74px;
}
.footer::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    border-top: 1px solid #cecece;
}

.footer__heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
}

.footer__list {
    list-style: none;
}

.footer__list:last-child {
    margin-bottom: 50px;
}

.footer__item {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 25px;
    color: var(--text-color);
}

.footer__item:hover {
    text-decoration-line: underline;
    cursor: pointer;
}


.footer__buttom {
    width: 100%;
    border-top: 1px solid #cecece;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
}

.footer__policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__policy-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer__policy-item:first-child {
    cursor: auto;
    text-decoration-line: none !important;
}

.footer__policy-item {
    padding-right: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}
.footer__policy-item:hover {
    text-decoration-line: underline;
}

.footer__world {
    display: flex;
    align-items: center;
}

.footer__countries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 60px;    
}

.footer__countries span {
    text-decoration-line: underline;
    
}

.footer__language {
    margin-right: 20px;
    cursor: pointer;
}

.footer__language:hover {
    color: currentColor;
    opacity: 0.8;
}

.footer__language-icon {
    font-size: 1.8rem;
    margin-right: 8px;
}

.footer__currency {
    line-height: 15px;
    cursor: pointer;
}

.footer__currency:hover {
    color: currentColor;
    opacity: 0.8;
}

.footer__currency-icon {
    margin-right: 8px;
}

.footer__social {
    display: flex;
    font-size: 2rem;
    font-weight: 800;
    align-items: center;
    justify-content: space-between;
}

.footer__social i:nth-child(2) {
    padding: 0 30px;
}

.footer__social-icon:hover {
    color: currentColor;
    opacity: 0.8;
    cursor: pointer;
}
